<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Akses sensor untuk Samsung Health Sensor SDK.
         Di Wear OS 6 (Android 16 / API 36) izin sensor tubuh pindah ke Health
         Connect, jadi READ_HEART_RATE dan READ_OXYGEN_SATURATION ikut
         dideklarasikan; BODY_SENSORS tetap dipakai di versi sebelumnya. -->
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.health.READ_HEART_RATE" />
    <uses-permission android:name="android.permission.health.READ_OXYGEN_SATURATION" />
    <!-- Akselerometer tidak memakai izin sensor tubuh: menurut tabel izin resmi
         Samsung, ACCELEROMETER_CONTINUOUS menuntut ACTIVITY_RECOGNITION di semua
         versi Android. -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <!-- BLE: jam beriklan dan menjadi GATT server bagi HP (edge). Android 12+
         memakai izin runtime ADVERTISE/CONNECT; di bawahnya BLUETOOTH/ADMIN. -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />

    <!-- Aplikasi ini berjalan di jam (Wear OS), bukan di HP. -->
    <uses-feature android:name="android.hardware.type.watch" />
    <application
        android:label="HR 005 Jam"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- Aplikasi Wear OS standalone: tidak butuh app pendamping di HP. -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
